* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }

 @font-face {
    font-family: norseBold;
    src: url(images/Norse-Bold.otf);
 }

 .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.page-container {

    display: flex;
}

.right-section {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.section-top-right {

    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: whitesmoke;
    
}
.section-middle-right {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: 2px 1px 1px gray;
}
.section-bottom-right {


    flex-grow: 1;
    background-color: whitesmoke
}

.section-top-right > p {
    margin-bottom: 40px;
    margin-left: 20px;
    margin-right: 100px;
    font-size: 1.5rem;
    font-family: "roboto";
    max-width: 50ch;
}
.leaf-img {
    height: 100vh;
    width: 20vw;
    min-width: 434px;

    flex-grow: 1;

    
}

.img-sidebar {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.507);
    height: 120px;
    min-width: 434px;
    top: 35vh;
    color: white;
    text-align: center;
    align-content: center;
    font-size: 5rem;
    font-family: norseBold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-footer {
    position: absolute;
    bottom: 10px;
    color: white;
    text-align: center;
    min-width: 434px;

}

.credit-img {
    color: white;
    font-family: "roboto";
}

.odin-img {
    height: 100px;
}

.section-middle-right p {
    font-family: "roboto";
    font-size: 1.5rem;
    margin-left: 20px;
    margin-top: -20px;
    
}

section {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.form-container {
    display: flex;
    gap: 20px;
    font-family: "roboto";

}

.input-text {
    display: flex;
    flex-direction: column;

    margin-top: 20px;
}

[type="text"], [type="tel"], [type="email"] {
    height: 30px;
    width: 30vh;
    border-radius: 10px;
    border: 2px solid #E5E7EB;
    box-shadow: 1px 1px 1px #E5E7EB;
}

[type="text"]:focus {
    border: 3px solid blue;
    box-shadow: 2px 2px 1px blue;
}
[type="tel"]:focus {
    border: 3px solid blue;
    box-shadow: 2px 2px 1px blue;
}
[type="email"]:focus {
    border: 3px solid blue;
    box-shadow: 2px 2px 1px blue;
}
[type="text"]:invalid {
    border: 2px solid red;
    box-shadow: 2px 2px 1px red;
}
[type="tel"]:invalid {
    border: 2px solid red;
    box-shadow: 2px 2px 1px red;
}
[type="email"]:invalid {
    border: 2px solid red;
    box-shadow: 2px 2px 1px red;
}

.button-login-container {
    display: flex;
    flex-direction: column;
    width: 20vw;
    align-items: flex-start;
    margin-top: 30px;
    gap: 20px;
    font-family: "roboto";
    margin-left: 20px;

}

.create-account {
    background-color: #596D48;
    border-radius: 7px;
    padding: 10px 40px;
    color: white;
    font-family: "roboto";
    font-size: 1.3rem;
}

.login-link:link {
color: #596D48;
font-weight: bold;
text-decoration: none;
}
.login-link:visited {
    color: #596D48;
    font-weight: bold;
}

label {
    margin-left: 3px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: .85rem;
    margin-bottom: 2px;
}

